* {
    padding: 0;
    margin: 0;
}

body {
    background: #FAF1E6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #252524;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.header_title {
    color: #FAF1E6;
    font-size: 36px;
}

.main-section {
    display: flex;
    margin: 50px 0;
    /* align-items: center; */
}

.left-side {
    width: 40%;
    margin-left: 20px;
    /* border-right: black 1px solid; */
}

.right-side {
    width: 60%;
}

.left-side-heading {
    margin-bottom: 40px;
}

label,
form {
    display: block;
    margin-top: 20px;
}

input {
    margin-left: 20px;
}

button {
    width: 120px;
    height: 50px;
    margin: 20px 0;
}

.reset_btn {
    /* margin-left: 20px; */
}

table {
    width: 100%;
    text-align: right;
}

.date_col {
    width: 20%;
}

.time_col {
    width: 20%;
}

.from_col {
    width: 25%;
}

.to_col {
    width: 25%;
}

.train_col {
    width: 10%;
}